<%- include("templates/menu.ejs")%>
<div> <%= analiticaAdn%> </div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginarium</title>
    <link rel="stylesheet" href="/public/css/estiloTextos.css">
</head>

<body>    

    <section class="container">
        <h1>Analítica ADN</h1>
        <p>La Analítica ADN, también conocida como análisis de datos de próxima generación (NGS), es una tecnología avanzada que permite secuenciar y analizar el ADN de organismos vivos de manera más rápida y eficiente que los métodos tradicionales.</p>
        <br>
        <h2>Características de la Analítica ADN</h2>
        <ul>
            <li>Alta velocidad de secuenciación: La Analítica ADN puede secuenciar millones de fragmentos de ADN en paralelo, lo que acelera significativamente el proceso de análisis.</li>
            <li>Gran precisión: La tecnología NGS proporciona resultados altamente precisos, lo que permite detectar mutaciones y variaciones genéticas con mayor confiabilidad.</li>
            <li>Aplicaciones en diversas áreas: La Analítica ADN tiene aplicaciones en campos como la medicina, biología, agricultura, investigación científica y más.</li>
            <li>Análisis masivo de datos: La cantidad de datos generados por la Analítica ADN puede ser enorme, lo que requiere poderosas herramientas de análisis y almacenamiento de datos.</li>
        </ul>
        <br>
        <h2>Aplicaciones de la Analítica ADN</h2>
        <p>La Analítica ADN se utiliza en una amplia variedad de áreas y disciplinas, algunas de las aplicaciones más comunes son:</p>
        <ol>
            <li>Medicina personalizada: Permite identificar variantes genéticas que pueden influir en la respuesta a tratamientos médicos y medicamentos específicos.</li>
            <li>Investigación de enfermedades genéticas: Ayuda a identificar mutaciones genéticas asociadas con enfermedades hereditarias.</li>
            <li>Biología evolutiva: Permite estudiar la evolución de las especies a través del análisis comparativo de genomas.</li>
            <li>Agricultura y mejora de cultivos: Se utiliza para identificar genes que confieren resistencia a plagas o mejoran características agronómicas.</li>
            <li>Ecología y conservación: Permite estudiar la diversidad genética de especies en peligro de extinción y monitorear poblaciones animales y vegetales.</li>
            <li>Investigación forense: Se utiliza en la identificación de personas a través de análisis de muestras de ADN.</li>
        </ol>
        <br>
        <h2>Importancia de la Analítica ADN</h2>
        <p>La Analítica ADN ha revolucionado la forma en que comprendemos y utilizamos la información genética. Su alta velocidad y precisión han permitido avances significativos en la medicina, biología y otras áreas de investigación. Además, ha abierto nuevas oportunidades en el campo de la medicina personalizada, donde los tratamientos se adaptan a las características genéticas individuales de los pacientes.</p>
        <br>
        <p>La información que se puede obtener a través de la Analítica ADN es fundamental para el avance de la ciencia y la comprensión de la vida en la Tierra. Esta tecnología continúa evolucionando y expandiéndose, lo que promete un futuro emocionante en la investigación y aplicación de la genética.</p>
        <br>
        <img src="/public/img/adn.png" alt="Analitica adn" width="330" style="background: transparent;">
    </section>

</body>

</html>

<%- include("templates/footer.ejs")%>