<%- include("templates/menu.ejs")%>
<div> <%= desingThinking%> </div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imaginarium</title>
    <link rel="stylesheet" href="/public/css/estiloTextos.css">
</head>

<body>


   

    <section class="container">

        <h1>Design Thinking</h1>
        <p>Design Thinking es una metodología que se centra en el enfoque del diseño para resolver problemas y desarrollar soluciones innovadoras. Fue popularizada por Tim Brown, CEO de IDEO, una firma de diseño e innovación.</p>
        <br>
        <h2>Principios del Design Thinking</h2>
        <ul>
            <li><strong>Empatía:</strong> Comprender las necesidades y deseos de los usuarios a través de la observación y la empatía.</li>
            <li><strong>Definición del problema:</strong> Identificar claramente el problema o desafío a resolver.</li>
            <li><strong>Ideación:</strong> Generar una amplia variedad de ideas creativas y soluciones potenciales.</li>
            <li><strong>Prototipado:</strong> Construir prototipos y modelos para explorar y evaluar diferentes enfoques.</li>
            <li><strong>Prueba y retroalimentación:</strong> Probar los prototipos con los usuarios para obtener comentarios y mejorar las soluciones.</li>
        </ul>
        <br>
        <h2>Beneficios del Design Thinking</h2>
        <ul>
            <li>Enfoque centrado en el usuario que mejora la experiencia del cliente.</li>
            <li>Promueve la creatividad y la innovación en la resolución de problemas.</li>
            <li>Facilita la colaboración y el trabajo en equipo multidisciplinario.</li>
            <li>Permite un enfoque ágil y flexible para adaptarse a los cambios en las necesidades de los usuarios.</li>
        </ul>
        <br>
        <h2>Aplicaciones del Design Thinking</h2>
        <p>El Design Thinking se utiliza en una amplia gama de industrias y campos, incluyendo el diseño de productos, servicios, procesos, estrategias de negocio, experiencias de usuario y más.</p>
        <br>
        <h2>Etapas del Proceso de Design Thinking</h2>
        <ol>
            <li>Empatizar: Comprender las necesidades, deseos y comportamientos de los usuarios.</li>
            <li>Definir: Interpretar y sintetizar la información para definir el problema específico a abordar.</li>
            <li>Idear: Generar ideas y soluciones creativas para resolver el problema.</li>
            <li>Prototipar: Construir prototipos y modelos para visualizar y probar las ideas.</li>
            <li>Probar: Evaluar los prototipos con los usuarios y obtener retroalimentación para mejorar y refinar las soluciones.</li>
            <li>Implementar: Llevar a cabo la solución final y ponerla en práctica.</li>
        </ol>
        <br>
        <p>El Design Thinking se ha convertido en una herramienta poderosa para impulsar la innovación y encontrar soluciones efectivas a los desafíos del mundo moderno.</p>
        <img src="/public/img/desing thinkg.png" alt="Design Thinking" width="400" style="background: transparent;">
    </section>

</body>

</html>
<%- include("templates/footer.ejs")%>