<%- include("templates/menu.ejs")%>

<div> <%= inicio%> </div>
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imaginarium</title>
        <link rel="stylesheet" href="/public/css/estiloTextos.css">
    </head>

    
<body>

    <section class="container">
        <h1> Inicio Imaginarium</h1>
        <p>
            Bienvenido a la página web de Imaginarium: Tu centro de aprendizaje y exploración de inteligencia artificial.
            Aquí
            encontrará una plataforma completa y diversa con una amplia gama de cursos, películas, libros, videos y enlaces
            de
            descarga para aplicaciones de inteligencia artificial.</p>
        <p> 
            Nuestra página web ha sido cuidadosamente diseñada para satisfacer las necesidades de los entusiastas, desde
            principiantes hasta expertos. Permíteme presentarte algunos de los elementos clave que encontrarás en nuestra
            plataforma:</p>
        <p><br>
            Cursos: Ofrecemos una selección de cursos diseñados para abordar diversos aspectos . Nuestros cursos están
            estructurados en diferentes niveles de dificultad, desde introducciones básicas hasta temas avanzados como
            aprendizaje automático.Cada curso cuenta con materiales de estudio, ejercicios prácticos y pruebas para evaluar
            tu
            comprensión.</p>
        <p><br>
            Películas: Explora nuestra biblioteca de películas . Desde clásicos del cine de ciencia ficción hasta
            documentales
            inspiradores, estas películas te sumergirán en el fascinante mundo de la IA y te ayudarán a reflexionar sobre
            sus
            implicaciones éticas y sociales.</p>
        <p><br>
            Libros: Descubre una extensa colección de libros dedicados a la inteligencia artificial. Nuestro catálogo
            incluye
            obras de renombrados expertos en el campo, abordando temas como el aprendizaje automático, la visión por
            computadora, la robótica y la ética de la IA. Tanto si eres un novato en el tema como si ya tienes experiencia,
            encontrarás lecturas enriquecedoras y estimulantes.</p>
        <p><br>
            Videos: Accede a una variedad de videos educativos y conferencias magistrales impartidas por expertos en
            inteligencia artificial. Desde explicaciones conceptuales hasta demostraciones, estos videos te ayudarán a
            comprender los fundamentos y las aplicaciones de prácticas la IA de manera visual y dinámica.</p>
        <p><br>
            Enlaces de descarga: Proporcionamos enlaces de descarga seguros para aplicaciones y herramientas relacionadas
            con la
            inteligencia artificial. Desde crear bibliotecas de aprendizaje automático hasta frameworks de desarrollo,
            podrás
            encontrar y descargar las últimas herramientas y recursos que te ayudarán a experimentar y tus propias
            aplicaciones
            de IA.</p>
        </p>
    </section>

</body>
    </html>
<%- include("templates/footer.ejs")%>

