<%- include("templates/menu.ejs")%>

<div> <%= multimedia%> </div>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imaginarium</title>
        <link rel="stylesheet" href="/public/css/estiloTextos.css">
    </head>
    <body>
   
      <section class="container">
        <h1>¡Bienvenido al contenido multimedia de Imaginarium!</h1>

        <p>En nuestra página, encontrarás una fascinante colección de contenido multimedia que te sumergirá en el emocionante mundo del entretenimiento. Desde emocionantes películas que te transportarán a universos desconocidos, hasta cautivadoras series que te mantendrán pegado a la pantalla, tenemos todo lo que necesitas para satisfacer tus ansias de aventura, romance, ciencia ficción y más.</p>
        <br>
        <p>Sumérgete en nuestra extensa biblioteca de películas, donde encontrarás una amplia gama de géneros y éxitos de taquilla que te harán reír, llorar y soñar despierto. Además, nuestras series te ofrecerán episodios llenos de suspenso, intrigas y giros inesperados, manteniéndote enganchado durante horas.</p>
        <br>
        <p>Pero eso no es todo. Si eres un apasionado del conocimiento, también te ofrecemos una selección de fascinantes PDFs sobre diversos temas, desde ciencia y tecnología hasta historia y arte. Explora nuestras colecciones y descubre nuevos horizontes de aprendizaje y sabiduría.</p>
        <br>
        <p>En Imaginarium, nuestra misión es brindarte una experiencia multimedia incomparable. Así que, si buscas entretenimiento, enriquecimiento intelectual o simplemente un rato de diversión, ¡has llegado al lugar correcto! Prepara las palomitas, acomódate en tu sofá y sumérgete en el emocionante mundo que te espera en Imaginarium. ¡Disfruta de la magia del cine y la televisión, y amplía tus conocimientos con nuestros inspiradores PDFs!</p>
        <br>
        <p>Bienvenido a un universo de infinitas posibilidades, bienvenido a Imaginarium.</p>
        <br><br>


        <section class="menuLibros">
            <button onclick="window.location.href='/libros'" class="boton">Ir a Libros</button>
            <button onclick="window.location.href='/peliculas'" class="boton">Ir a Peliculas</button>
            <button onclick="window.location.href='/videos'" class="boton">Ir a Videos</button>
        </section>
      </section>

        
    </body>
    </html>

    <%- include("templates/footer.ejs")%>

