<%- include("templates/menu.ejs")%>

<div> <%= nosotros%> </div>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imaginarium</title>
        <link rel="stylesheet" href="/public/css/estiloTextos.css">
    </head>
    <body>
       
        <section class="infoAboutUS">
            <div class="container">
              <div class="mission">
                <h1>Misión</h1>
                <p>Nuestra misión en Imaginarium es fomentar la creatividad, inspiración y exploración a través de una plataforma digital que brinde experiencias únicas. Nos esforzamos por ser el destino en línea preferido para aquellos que deseen expandir su imaginación, descubrir nuevas ideas y conectar con personas afines en un entorno colaborativo. A través de nuestra página web, queremos empoderar a individuos de todas las edades para que exploren su potencial creativo y conviertan sus sueños en realidad.</p>
              </div>
              <div class="vision"><br>
                <h1>Visión</h1>
                <p>Nuestra visión en Imaginarium es convertirnos en la plataforma líder a nivel mundial en la generación de ideas y en el fomento de la creatividad. Queremos ser reconocidos como un referente para todos aquellos que busquen inspiración, recursos y herramientas para materializar sus proyectos creativos. Aspiramos a crear una comunidad global en línea donde los usuarios puedan compartir, aprender y colaborar en un entorno seguro y estimulante.</p>
              </div>
              <div class="values"><br>
                <h1>Valores</h1>
                <ul>
                  <li>Creatividad: Fomentamos la creatividad en todas sus formas, valorando la originalidad, la innovación y el pensamiento fuera de lo convencional. Creemos en el poder de la imaginación para transformar vidas y generar soluciones creativas.</li>
                  <li>Inspiración: Buscamos inspirar a nuestra comunidad, ofreciendo contenido y experiencias que estimulen la imaginación y motiven a los usuarios a explorar nuevas ideas. Queremos ser una fuente constante de inspiración para nuestros visitantes.</li>
                  <li>Colaboración: Creemos en el poder de la colaboración y el intercambio de ideas. Fomentamos un entorno inclusivo y colaborativo donde los usuarios puedan conectar, compartir conocimientos y trabajar juntos en proyectos creativos.</li>
                  <li>Calidad: Nos esforzamos por ofrecer contenido y recursos de alta calidad que satisfagan las necesidades y expectativas de nuestros usuarios. Buscamos la excelencia en todo lo que hacemos, desde el diseño de la plataforma hasta la selección de contenidos relevantes y útiles.</li>
                  <li>Comunidad: Valoramos y apreciamos a nuestra comunidad. Queremos crear un espacio en línea acogedor y seguro donde los usuarios se sientan parte de una comunidad comprometida con la creatividad y el aprendizaje mutuo.</li>
                  <li>Diversidad: Celebramos la diversidad en todas sus formas, incluyendo la diversidad de pensamiento, experiencias, culturas y perspectivas. Creemos que la diversidad enriquece nuestra comunidad y nos impulsa hacia la innovación y la inclusión.</li>
                </ul>
              </div>
            </div>
          </section>
          

    </body>
    </html>


    <%- include("templates/footer.ejs")%>
