<%- include("templates/menu.ejs")%>

<div> <%= peliculas%></div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEOS DE IA</title>
    <link rel="stylesheet" href="/public/css/estiloTextos.css">

</head>
<body>
    <section class="container">

    
            <h1>Películas y Documentales para Emprendedores</h1>
            <br>
            <ol>
                <li>
                    <strong>Walt el soñador (Khoa Le, 2015)</strong><br>
                    Basada en hechos reales, esta película relata los primeros pasos de Walt Disney en el mundo de la animación, donde recibió muchos golpes de suerte, pero también hizo malos negocios y se ganó algunos enemigos. El mensaje es claro: si tienes un sueño, persíguelo con pasión aún en las épocas más oscuras.
                </li> <br>
                <li>
                    <strong>Hambre de poder (John Lee Hancock, 2016)</strong><br>
                    Cuenta la fascinante historia detrás del imperio de McDonald’s. Su protagonista es Ray Kroc, un ambicioso vendedor de Illinois que transforma la manera de hacer hamburguesas y convierte el pequeño negocio de los hermanos McDonald en la cadena de comida rápida más grande del mundo.
                </li><br>
                <li>
                    <strong>Face to face. Duels (2014)</strong><br>
                    Esta serie documental explora las rivalidades más importantes en la historia de la política, el mundo de los negocios, la tecnología y el arte. Tiene ocho capítulos, y los emprendedores y empresarios no pueden perderse los de “Jobs vs Gates”, “Puma vs Adidas” y “Pepsi vs Coca Cola”.
                </li><br>
                <li>
                    <strong>Manolo: the boy who made shoes for lizards (Michael Roberts, 2017)</strong><br>
                    Un cálido retrato sobre el legendario diseñador de zapatos Manolo Blahnik. Durante 89 minutos, el empresario comparte detalles de su proceso creativo, de su impacto en la industria de la moda y de cómo construyó una de las marcas de lujo más poderosas del mundo.
                </li><br>
                <li>
                    <strong>Tony Robbins: a date with destiny (Joe Berlinger, 2016)</strong><br>
                    Tony Robbins es uno de los gurús de superación personal más reconocidos de la actualidad, pero algunos critican sus métodos poco ortodoxos. Este documental es un detrás de cámaras del mega evento de seis días que realiza todos los años, y en el que comparte sus consejos y herramientas para alcanzar el amor, el éxito y la felicidad.
                </li><br>
                <li>
                    <strong>Girlboss (2017)</strong><br>
                    Una serie en tono de comedia basada en el bestseller autobiográfico de Sophia Amoruso, una joven emprendedora que logra salir de la quiebra y convertirse en una magnate de la moda en pocos años. A lo largo de 13 capítulos, la serie relata cómo fundó Nasty Gal, una tienda en línea de ropa, zapatos y accesorios de segunda mano, aunque no incluye los escándalos financieros y laborales en los que se vio envuelta la empresa en los últimos años.
                </li><br>
                <li>
                    <strong>Banking on Bitcoin (Christopher Cannucciari, 2017)</strong><br>
                    Este documental analiza los orígenes de la criptomoneda, la tecnología que está detrás de ella y cuál es su futuro. Lo hace a través de entrevistas y testimonios con entusiastas, críticos, periodistas especializados, empresarios y expertos. Imprescindible verlo si todavía no entendemos de qué se trata esta innovación disruptiva, la mayor luego del surgimiento de Internet.
                </li><br>
                <li>
                    <strong>Ex Machina (Alex Garland, 2015)</strong><br>
                    Una muy buena película sobre la inteligencia artificial y el impacto de la tecnología en nuestras vidas. Al estilo de “Her” (Spike Jonze, 2014), esta obra de ciencia ficción plantea la posibilidad del amor entre un ser humano y una mente programada, en este caso un joven programador y un androide con rostro de mujer, capaz de expresar sentimientos y transmitir emociones.
                </li><br>
                <li>
                    <strong>Abstract: the art of design (2017)</strong><br>
                    Una serie obligatoria para entender la importancia actual del diseño en nuestra vida diaria, la comunicación y los negocios. No hay más que pensar en la metodología del Design Thinking para la creación de empresas y correr a ver sus capítulos. Entre los entrevistados están el ilustrador Christopfh Niemann, famoso por sus portadas para The New Yorker; Tinker Hatfield, el diseñador de la icónica serie de tenis Air Jordan, de Nike; y Ralph Gilles, que promete revolucionar los automóviles deportivos y camionetas eléctricas de Fiat Chrysler.
                </li><br>
                <li>
                    <strong>Miss Representation (Jennifer Siebel. 2011)</strong><br>
                    Si te interesan los temas de liderazgo, esta documental explora cómo la imagen femenina que muestran los medios de comunicación contribuye a la sub-representación de las mujeres en los cargos de poder y toma de decisiones importantes, tanto en la política como en el ámbito privado. Una obra de urgente actualidad.
                </li><br>
            </ol>
        
            <p>¡Esperamos que las disfrutes y alimenten tu camino como emprendedor!</p>
        
    </section>
</body>

</html>

<%- include("templates/footer.ejs")%>