<%- include("templates/menu.ejs")%>

<div> <%= videos%></div>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIDEOS DE IA</title>

</head>
<body>
   
    <section class="container">

        <h1>LA MEJOR IA PARA CREAR VIDEOS:</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pvi8O7pt1uQ" frameborder="0" allowfullscreen></iframe>
        <p>Este es un video sobre la mejor IA para crear videos.</p> <br>
    
        <h1>9 Herramientas con Inteligencia Artificial que DEBES PROBAR</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aMm2KyuB32g" frameborder="0" allowfullscreen></iframe>
        <p>Este es un video sobre 9 herramientas con inteligencia artificial que debes probar.</p><br>
    
        <h1>NUNCA LE PIDAS A UNA IA QUE CREE UNA RELIGION</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nTYktXpMkrw" frameborder="0" allowfullscreen></iframe>
        <p>Este es un video sobre por qué nunca debes pedirle a una IA que cree una religión.</p><br>
    
        <h1>9 Mejores IA que chatgpt</h1>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4uLRAlX7NpM" frameborder="0" allowfullscreen></iframe>
        <p>Este es un video sobre las 9 mejores IA que superan a ChatGPT.</p><br>
    </section>

</body>
</html>

<%- include("templates/footer.ejs")%>