<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="/public/css/estiloMenu.css">
    <link rel="stylesheet" href="/public/css/estiloBotones.css">
    <link rel="stylesheet" href="/public/css/estiloTextos.css">
</head>
<body> 
    <div class="logo"> <h1> 
        <h1 style="text-align: left;">
            <img src="/public/img/Imaginarium_logo.png" width="220">
        </h1>
       </h1>
    </div>
   <div class="menu">

       <nav>
           <ul>
               <li> <a href="http://localhost:3000/"> Inicio </a> </li>
               <li> <a href="http://localhost:3000/cursos"> Cursos </a></li>
               <li> <a href="http://localhost:3000/multimedia"> Multimedia</a></li>
               <li> <a href="http://localhost:3000/apps"> Apps</a></li>
               <li> <a href="http://localhost:3000/nosotros"> Sobre nosotros</a></li>
           </ul>
       </nav>
   </div>
</body>
</html>